:root {
  --main-bg-color: #23272f;
  --text-color: #fff;
  --btn-text-color: #383b3f;
  --btn-bg-color: #fff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff;
    --text-color: #000;
    --btn-text-color: #16444f;
    --btn-bg-color: #57c4dc;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #23272f;
    --text-color: #fff;
    --btn-text-color: #383b3f;
    --btn-bg-color: #fff;
  }
}
